/* Copyright 2011, Dmitry Semenov, http://dimsemenov.com */

html { font-size: 100%; /*overflow-y: scroll;*/ -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { 
	
	font-size: 14px;
	line-height: 22px;
	color: #303030;
}

/* =============================================================================
   Links
   ========================================================================== */

a { color: #06A; cursor: pointer; }
a:visited { color: #06A; }
a:hover { /*color: #C00;*/ }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }



/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }





/* Preview styles */
#logo {
	width: 369px;
	height: 65px;
	margin: 25px auto 35px;
	
	position: relative;
	display: block;
}
#logo a {
	background: url('preview-sprite.png') no-repeat -10px -27px;
	width: 369px;
	height: 65px;

	
	text-decoration: none;
	color: #EEE;	
	display: block;
	
	text-indent: -9999px;
}


#preview-select {	
	margin: 25px auto 60px;
	width: 548px;
	position: relative;
}
.preview-btn {
	display: block;
	background: #F1F1F1;
	padding: 10px 15px;
	margin: 0 6px;
	width: 95px;
	text-align: center;
	float: left;
}
.preview-btn.selected {
	text-decoration: none;
	color: #000;
}









#top-bar {	
	background: url('img/top-bar-pattern.png') repeat-x 0 0;
	

	height: 40px;

	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.30);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.30);
	box-shadow: 0 1px 5px rgba(0,0,0,0.30);
	
	z-index: 100;	
	width: 100%;
	position: fixed;	
	
}
a.codecanyon-logo {
	background: url('preview-sprite.png') no-repeat 0 0;
	width: 120px;
	height: 21px;
	
	display: block;
	margin-top: 10px;
	margin-right: 15px;
	float: right;
	text-indent: -210px;
	color: #EEE;
	text-decoration: none;
}

.codecanyon-logo:hover span {
	text-decoration: underline;
}
.social-buttons {
	float:left;
	heigth:20px;
	margin: 10px 0 0 10px;
}
.social-buttons .share-text {
	float:left;
	color: #EEE;
	position:relative;
	padding-right:4px;
}
.social-buttons .social-btn {
	float:left;
	padding: 0 5px;
}
.social-buttons .like-btn {
	margin-top: 1px;	
	width: 79px;
	/*overflow: hidden;*/
}
.social-buttons .tweet-btn {
	margin-top: 1px;
	cursor:pointer; 
	width:100px;
}
.social-buttons .inshare-btn {
	margin-top: 1px;
}
.social-buttons .gplus-btn {
	margin-top: 1px;
	width:65px;
}
#main-body {
	padding-top: 53px;
}


#carousel-ajax-container {
	width: 100%; height: 60px;
}
















/**
* Carousel with a single image per view
**/
#carousel-single-image {
	width: 400px;
	height: 400px;
	margin: 0 auto;			
	background: #242021;
	top: 25px;
}
#carousel-single-image .touchcarousel-container {
	height: 100%;
	background: url(img/wood-pattern.jpg) repeat;
}
#carousel-single-image .touchcarousel-item {
	margin-right: 0;
	width: 400px;
	height: 400px;
}
#carousel-single-image img {
	width: 300px;
	height: 300px;
	margin: 47px 0 0 47px;	
	
	float:left;
	position: relative;
	display: block;
	padding: 3px;
	background: #FFF;
	border: 0;
	
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.6);
	box-shadow: 0 1px 6px rgba(0,0,0,0.6);
}
#carousel-single-image .tc-paging-container {
	margin-top: -29px;
}





/**
* Carousel with image and text, custom skinned scrollbar
**/
#carousel-image-and-text {
	width: 875px;
	height: 135px;
	margin: 0 auto;	
	/*top: 35px;*/
}	
#carousel-image-and-text .arrow-holder {
	height: 60px;
}		
#carousel-image-and-text .touchcarousel-item {
	margin-right: 1px;	
	width: 120px;
	height: 80px;		
}
#carousel-image-and-text .item-block {
	width: 170px;
	height: 60px;
	display: block;
}
#carousel-image-and-text .item-block img,
#carousel-image-and-text .item-block h4, 
#carousel-image-and-text .item-block p {
	float: left;
	position: relative;
	display: block;
	margin: 0;			
}
#carousel-image-and-text .item-block img {
	width: 170px;
	height: 230px;		
	border: 0;
	padding: 0;		
}
#carousel-image-and-text .item-block {			
	text-decoration: none;
	color: inherit;			
}					
#carousel-image-and-text .item-block h4 {
	/*font: bold 13px/20px Helvetica, Arial, sans-serif;*/
	color: #000;
	width: 158px;
	height: auto;		
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;  	
}
#carousel-image-and-text .item-block:hover h4 {	
	color: #1873c9;		
}
#carousel-image-and-text .item-block p {			
	/*font: normal 13px/20px Helvetica, Arial, sans-serif;*/
	color: #555;		
	width: 158px;
	padding: 0 0 0 6px;
}
#carousel-image-and-text .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 0px;
	left: 0;
	right: 0;
}
#carousel-image-and-text .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}

/*************************************************************************************************/

/**
* Carousel with image and text, custom skinned scrollbar
**/
#IdeasSection {
	width: 732px;
	height: 133px;
	margin: 0 auto;	
	/*top: 35px;*/
}	
#IdeasSection .arrow-holder {
	height: 100%;
}		
#IdeasSection .touchcarousel-item {
	/*margin-right: 3px;	*/
	width: 145px;
	height: 80px;
	position:relative;		
}


#IdeasSection .touchcarousel-item a{ /*position:absolute; left:10px; bottom:10px; font-size:12px; color:#FFF; font-weight:bold;*/}



#IdeasSection .item-block {
	width: 170px;
	height: 200px;
	display: block;
}
#IdeasSection .item-block img,
#IdeasSection .item-block h4, 
#IdeasSection .item-block p {
	float:inherit;
	position:absolute;
	display: block;
	margin: 0;			
}
#IdeasSection .item-block img {
	width: 170px;
	height: 200px;		
	border: 0;
	padding: 0;		
}
#IdeasSection .item-block {			
	text-decoration: none;
	color: inherit;			
}					
#IdeasSection .item-block h4 {
	/*font: bold 13px/20px Helvetica, Arial, sans-serif;*/
	color: #000;
	width: 158px;
	height: auto;		
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;  	
}
#IdeasSection .item-block:hover h4 {	
	color: #1873c9;		
}
#IdeasSection .item-block p {			
	/*font: normal 13px/20px Helvetica, Arial, sans-serif;*/
	color: #555;		
	width: 158px;
	padding: 0 0 0 6px;
}
#IdeasSection .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 0px;
	left: 0;
	right: 0;
}
#IdeasSection .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}
/*************************************************************************************************/

/**
* Carousel with image and text, custom skinned scrollbar
**/
#videosSection {
	width: 960px;
	height: 173px;
	margin: 0 auto;	
	/*top: 35px;*/
}	
#videosSection .arrow-holder {
	height: 100%;
}		
#videosSection .touchcarousel-item {
	/*margin-right: 3px;	*/
	width: 145px;
	height: 80px;
	position:relative;		
}


#videosSection .touchcarousel-item a{ /*position:absolute; left:10px; bottom:10px; font-size:12px; color:#FFF; font-weight:bold;*/}



#videosSection .item-block {
	width: 170px;
	height: 200px;
	display: block;
}
#videosSection .item-block img,
#videosSection .item-block h4, 
#videosSection .item-block p {
	float:inherit;
	position:absolute;
	display: block;
	margin: 0;			
}
#videosSection .item-block img {
	width: 170px;
	height: 200px;		
	border: 0;
	padding: 0;		
}
#videosSection .item-block {			
	text-decoration: none;
	color: inherit;			
}					
#videosSection .item-block h4 {
	/*font: bold 13px/20px Helvetica, Arial, sans-serif;*/
	color: #000;
	width: 158px;
	height: auto;		
	padding: 2px 0 0 6px;
	-webkit-transition: color 0.2s ease-out; 
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;  	
}
#videosSection .item-block:hover h4 {	
	color: #1873c9;		
}
#videosSection .item-block p {			
	/*font: normal 13px/20px Helvetica, Arial, sans-serif;*/
	color: #555;		
	width: 158px;
	padding: 0 0 0 6px;
}
#videosSection .scrollbar-holder {
	background: #CED7DB;
	bottom: 0;
	height: 0px;
	left: 0;
	right: 0;
}
#videosSection .scrollbar {
	background-color: #45a8ce !important;
	bottom: 0;
}
/*************************************************************************************************/























/**
* Carousel with image and text (horizontal)
**/
#carousel-image-text-horizontal {
	width: 800px;
	height: 135px;
	margin: 0 auto;
	/*top: 85px;*/
}
#carousel-image-text-horizontal .touchcarousel-item {
	width: 300px;
	height: 135px;
	margin-right: 0px;
	background-color: #00203F;			
	/*padding: 5px;*/
	/*position: relative;*/
	z-index:999;
}
#carousel-image-text-horizontal img, 
#carousel-image-text-horizontal h4,
#carousel-image-text-horizontal p {
	float:left;
	/*position: relative;*/
	margin: 0;
	padding: 0;	
	border: 0;			
}		
#carousel-image-text-horizontal img {			
	width: 131px;
	height: 133x;
}
#carousel-image-text-horizontal .rblock {
	width: 210px;
	float: left;
	margin-left: 7px;
	margin-top:5px;
}
#carousel-image-text-horizontal h4 {
	/*font: bold 13px/15px Helvetica, Arial, sans-serif;*/
	color: #fff;
	width: 190px;
}
#carousel-image-text-horizontal p {			
	/*font: normal 13px/14px Helvetica, Arial, sans-serif;*/
	color: #fff;
	/*margin-top:10px;*/
}




/**
* "Free-scroll" gallery
**/
#carousel-gallery {
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 15px 0;
	background: #EFEFEF;
	overflow: hidden !important;
}		
#carousel-gallery .touchcarousel-wrapper {
	overflow: visible;
	margin-left: 80px;
}
#carousel-gallery .touchcarousel-item {
	margin-right: 15px;		
	background: #CCC;	
	height: 400px;
}
#carousel-gallery .arrow-icon.left {
	left: 25px;				
}
#carousel-gallery .arrow-icon.right {
	right: 25px;			
}
#carousel-gallery .arrow-holder {
	width: 60px;	
}
#carousel-gallery  .scrollbar-holder {
	bottom: 6px;
}




.touchcarousel {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
.touchcarousel .touchcarousel-container {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
}
.touchcarousel .touchcarousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
     margin-left: 37px;
}
.touchcarousel .touchcarousel-item {
    margin: 0;
    padding: 0;
    float: left;
}
.touchcarousel .touchcarousel-item.last {
    margin-right: 0!important;
}
.touchcarousel .arrow-holder {
    height: 100%;
   /* width: 45px;*/
    position: absolute;
    top: 0;
    display: block;
    cursor: pointer;
    z-index: 9;
}
.touchcarousel .arrow-holder.left {
    left: -35px;
}

#IdeasSection .arrow-holder.right {
    right: -33px;
}
.touchcarousel .arrow-holder.right {
    right: -33px;
}
.touchcarousel .arrow-icon {
    width: 35px;
   
   /* top: 50%;
    margin-top: -45px;*/
    position: absolute;
    cursor: pointer;
}
.touchcarousel .arrow-holder.disabled {
    cursor: default;
}
.touchcarousel .arrow-holder.disabled .arrow-icon {
    cursor: default;
}
.touchcarousel .tc-paging-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    xmargin-top: -20px;
    z-index: 25;
}
.touchcarousel .tc-paging-centerer {
    float: left;
    position: relative;
    left: 50%}
.touchcarousel .tc-paging-centerer-inside {
    float: left;
    position: relative;
    left: -50%}
.touchcarousel .tc-paging-item {
    float: left;
    cursor: pointer;
    position: relative;
    display: block;
    text-indent: -9999px;
}
.touchcarousel .scrollbar-holder {
    position: absolute;
    z-index: 30;
    left: 6px;
    right: 6px;
    bottom: 5px;
    height: 4px;
    overflow: hidden;
	display:none;
}
.touchcarousel .scrollbar {
    position: absolute;
    left: 0;
    height: 4px;
    bottom: 0;
}
.touchcarousel .scrollbar.dark {
    background-color: #828282;
    background-color: rgba(0, 0, 0, 0.5);
}
.touchcarousel .scrollbar.light {
    background-color: #d2d2d2;
    background-color: rgba(255, 255, 255, 0.5);
}
.touchcarousel .grab-cursor {
    cursor: url(grab.png) 8 8, move;
}
.touchcarousel .grabbing-cursor {
    cursor: url(grabbing.png) 8 8, move;
}
.touchcarousel .auto-cursor {
    cursor: auto;
}


.touchcarousel.three-d .arrow-icon {
    top: 0;
    background-image: url('sprite3d.png');
    background-repeat: no-repeat;
    width: 19px;
    height: 20px;
    margin-top: 0;
}
.touchcarousel.three-d .arrow-holder {
    top: -23px;
    width: 19px;
    height: 20px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.three-d .arrow-holder.left {
    left: auto;
    right: 26px;
}
.touchcarousel.three-d .arrow-holder.right {
    right: 3px;
}
.touchcarousel.three-d .arrow-icon.left {
    left: 0;
    background-position: -8px -14px;
}
.touchcarousel.three-d .arrow-icon.right {
    right: 0;
    background-position: -173px -14px;
}
.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.left {
    background-position: -43px -14px;
}
.touchcarousel.three-d .arrow-holder.disabled .arrow-icon.right {
    background-position: -138px -14px;
}
.touchcarousel.three-d .arrow-holder:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.three-d .arrow-holder:active {
    -moz-opacity: .7;
    -webkit-opacity: .7;
    opacity: .7;
}
.touchcarousel.three-d .arrow-holder.disabled {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.three-d .tc-paging-container {
    width: auto;
    float: none;
    right: 53px;
    margin-top: 0;
    top: -21px;
}
.touchcarousel.three-d .tc-paging-centerer {
    float: none;
    position: relative;
    left: 0;
}
.touchcarousel.three-d .tc-paging-centerer-inside {
    position: relative;
    left: 0;
    float: none;
}
.touchcarousel.three-d .tc-paging-item {
    background: url('sprite3d.png') no-repeat -95px -4px;
    width: 16px;
    height: 16px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.three-d .tc-paging-item.current {
    background: url('sprite3d.png') no-repeat -95px -22px;
}
.touchcarousel.three-d .tc-paging-item:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.minimal-light .arrow-icon {
    width: 23px;
    height: 28px;
    margin-top: -14px;
}
.touchcarousel.minimal-light .arrow-icon.left {
    left: 5px;
    background: url('sprite-ml.png') no-repeat -6px -7px;
}
.touchcarousel.minimal-light .arrow-icon.right {
    right: 5px;
    background: url('sprite-ml.png') no-repeat -173px -7px;
}
.touchcarousel.minimal-light .arrow-holder.disabled {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.left {
    background: url('sprite-ml.png') no-repeat -40px -7px;
}
.touchcarousel.minimal-light .arrow-holder.disabled .arrow-icon.right {
    background: url('sprite-ml.png') no-repeat -139px -7px;
}
.touchcarousel.minimal-light .arrow-holder {
    width: 35px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.minimal-light .arrow-holder:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.minimal-light .tc-paging-container {
    margin-top: -22px;
}
.touchcarousel.minimal-light .tc-paging-item {
    background: url('sprite-ml.png') no-repeat -95px -4px;
    width: 16px;
    height: 16px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.minimal-light .tc-paging-item.current {
    background: url('sprite-ml.png') no-repeat -95px -22px;
}
.touchcarousel.minimal-light .tc-paging-item:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
/* .touchcarousel.grey-blue .arrow-icon {
    background-image:url(/_layouts/images/RA.ExternalWeb/partner_arrow_left.gif);
    background-repeat: no-repeat;
    width: 33px;
    height: 60px;
   
}

.touchcarousel.grey-blue .arrow-icon1 {
    background-image:url(/_layouts/images/RA.ExternalWeb/ideas_arrow_left.gif);
    background-repeat: no-repeat;
    width: 33px;
    height: 151px;
   
}

.touchcarousel.grey-blue .arrow-icon1 {
    background-image:url(/_layouts/images/RA.ExternalWeb/people_arrow_left.gif);
    background-repeat: no-repeat;
    width: 33px;
    height: 151px;
   
}
.touchcarousel.grey-blue .arrow-holder {
    width: 19px;
    height: 100%;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}*/
.touchcarousel.grey-blue .arrow-holder.left {
    /*left: 5px;*/
}
.touchcarousel.grey-blue .arrow-holder.right {
    /*right: 5px;*/
}
/*.partnerCarousel .touchcarousel.grey-blue .arrow-icon.left {
   left: 0;
   background:url(/_layouts/images/RA.ExternalWeb/partner_arrow_left.gif) no-repeat;
   height: 60px;
}*/
/*.partnerCarousel .touchcarousel.grey-blue .arrow-icon.right {
    right: 0;
	background:url(/_layouts/images/RA.ExternalWeb/partner_arrow_right.gif) no-repeat;
	height: 60px;
   
}*/

.ideasCarousel .touchcarousel.grey-blue .arrow-icon.left {
   left: 0;
   background:url(/_layouts/images/RA.ExternalWeb/ideas_arrow_left.png) no-repeat;
   height: 135px;
}
.ideasCarousel .touchcarousel.grey-blue .arrow-icon.right {
    right: 0;
	background:url(/_layouts/images/RA.ExternalWeb/ideas_arrow_right.png) no-repeat;
	height: 135px;
    /*background-position: -186px -15px;*/
}

.peopleCarousel .touchcarousel.grey-blue .arrow-icon.left {
   left: 0;
   background:url(/_layouts/images/RA.ExternalWeb/people_arrow_left.png) no-repeat;
   height: 135px;
}
.peopleCarousel .touchcarousel.grey-blue .arrow-icon.right {
    right: 0px;
	background:url(/_layouts/images/RA.ExternalWeb/people_arrow_right.png) no-repeat;
	height: 135px;
    /*background-position: -186px -15px;*/
}





.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.left {
   /* background-position: -36px -15px;*/
}
.touchcarousel.grey-blue .arrow-holder:hover .arrow-icon.right {
    /*background-position: -156px -15px;*/
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.left {
   /* background-position: -66px -15px;*/
}
.touchcarousel.grey-blue .arrow-holder.disabled .arrow-icon.right {
   /* background-position: -126px -15px;*/
}
.touchcarousel.grey-blue .arrow-holder:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.grey-blue .arrow-holder:active .arrow-icon {
   /* margin-top: -8px;*/
}
.touchcarousel.grey-blue .arrow-holder.disabled {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.grey-blue .tc-paging-item {
    background: url('sprite-slider.png') no-repeat -95px -4px;
    width: 16px;
    height: 16px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.grey-blue .tc-paging-item.current {
    background: url('sprite-slider.png') no-repeat -95px -22px;
}
.touchcarousel.grey-blue .tc-paging-item:hover {
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.black-and-white .arrow-icon {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background-image: url('sprite-bw.png');
    background-repeat: no-repeat;
    background-color: #323232;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-opacity: .8;
    -webkit-opacity: .8;
    opacity: .8;
}
.touchcarousel.black-and-white .arrow-holder {
    width: 35px;
}
.touchcarousel.black-and-white .arrow-holder:active .arrow-icon {
    -moz-opacity: .7!important;
    -webkit-opacity: .7!important;
    opacity: .7!important;
}
.touchcarousel.black-and-white .arrow-icon.left {
    left: 10px;
    background-position: -2px -6px;
}
.touchcarousel.black-and-white .arrow-icon.right {
    right: 10px;
    background-position: -175px -6px;
}
.touchcarousel.black-and-white .arrow-holder:hover .arrow-icon {
    background-color: #1e1e1e;
    background-color: rgba(0, 0, 0, 0.7);
    -moz-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left {
    background-position: -39px -6px;
}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right {
    background-position: -138px -6px;
}
.touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.left, .touchcarousel.black-and-white .arrow-holder.disabled .arrow-icon.right {
    background-color: #c8c8c8;
    background-color: rgba(0, 0, 0, 0.3);
}
.touchcarousel.black-and-white .tc-paging-container {
    margin-top: -22px;
}
.touchcarousel.black-and-white .tc-paging-item {
    background-image: url('sprite-bw.png');
    background-repeat: no-repeat;
    background-position: -95px -4px;
    width: 16px;
    height: 16px;
}
.touchcarousel.black-and-white .tc-paging-item.current {
    background-position: -95px -22px;
}
.touchcarousel.black-and-white .tc-paging-container {
    margin-top: -25px;
}
.touchcarousel.black-and-white .tc-paging-centerer-inside {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #323232;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 4px;
}