.infoData #legendGrp .wrpr .lgnd{-webkit-transform:rotate(-90deg);transform:rotate(-90deg);-ms-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);filter: none ;white-space:nowrap;color:#fff;font-family:'PT Sans';font-size:14px;font-weight:700;line-height: 18px;text-transform:uppercase;position:relative;}
.boxCart .returnValues .digits{margin-left:-8px;}

#absolutecontainer.riskWrpr ul {width:600px;}
.chosen-container-single .chosen-single div b{background-position:0 0;}